@model IEnumerable<AbhayMVC2.Models.Employee>

@{
    Layout = "_Layout";
}
<h1>Welcome to MVC appication</h1>
@*<h2>Message: @ViewBag.msg</h2>
 
<ol>
    @foreach(var stu in ViewBag.Students)
            {
                <li>@stu</li>
            }
</ol>*@

@*<ul>
    @foreach (var stu in (List<string>)ViewData["Students"])
    {
        <li>@stu</li>
    }
</ul>*@

@*<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Mobile</td>
            <td>Salary</td>
            <td>Gender</td>

        </tr>
    </thead>
    <tbody>
        @foreach(var emp in Model)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Name</td>
                    <td>@emp.Email</td>
                    <td>@emp.Mobile</td>
                    <td>@emp.Salary</td>
                    <td>@emp.Gender</td>
                </tr>
            }
    </tbody>
</table>
*@